<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>矿小助</title>
</head>
<body>
{<br>
  &nbsp &nbsp &nbsp"current_user_url": "https://api.github.com/user", <br>
  &nbsp &nbsp &nbsp"current_user_authorizations_html_url": "https://github.com/settings/connections/applications{/client_id}",<br>
  &nbsp &nbsp &nbsp"authorizations_url": "https://api.github.com/authorizations",<br>
  &nbsp &nbsp &nbsp"code_search_url": "https://api.github.com/search/code?q={query}{&page,per_page,sort,order}",<br>
  &nbsp &nbsp &nbsp"commit_search_url": "https://api.github.com/search/commits?q={query}{&page,per_page,sort,order}",<br>
  &nbsp &nbsp &nbsp"emails_url": "https://api.github.com/user/emails",<br>
  &nbsp &nbsp &nbsp"emojis_url": "https://api.github.com/emojis",<br>
  &nbsp &nbsp &nbsp"events_url": "https://api.github.com/events",<br>
  &nbsp &nbsp &nbsp"feeds_url": "https://api.github.com/feeds",<br>
  &nbsp &nbsp &nbsp"followers_url": "https://api.github.com/user/followers",<br>
  &nbsp &nbsp &nbsp"following_url": "https://api.github.com/user/following{/target}",<br>
  &nbsp &nbsp &nbsp"gists_url": "https://api.github.com/gists{/gist_id}",<br>
  &nbsp &nbsp &nbsp"hub_url": "https://api.github.com/hub",<br>
  &nbsp &nbsp &nbsp"issue_search_url": "https://api.github.com/search/issues?q={query}{&page,per_page,sort,order}",<br>
  &nbsp &nbsp &nbsp"issues_url": "https://api.github.com/issues",<br>
  &nbsp &nbsp &nbsp"keys_url": "https://api.github.com/user/keys",<br>
  &nbsp &nbsp &nbsp"label_search_url": "https://api.github.com/search/labels?q={query}&repository_id={repository_id}{&page,per_page}",<br>
  &nbsp &nbsp &nbsp"notifications_url": "https://api.github.com/notifications",<br>
  &nbsp &nbsp &nbsp"organization_url": "https://api.github.com/orgs/{org}",<br>
  &nbsp &nbsp &nbsp"organization_repositories_url": "https://api.github.com/orgs/{org}/repos{?type,page,per_page,sort}",<br>
  &nbsp &nbsp &nbsp"organization_teams_url": "https://api.github.com/orgs/{org}/teams",<br>
  &nbsp &nbsp &nbsp"public_gists_url": "https://api.github.com/gists/public",<br>
  &nbsp &nbsp &nbsp"rate_limit_url": "https://api.github.com/rate_limit",<br>
  &nbsp &nbsp &nbsp"repository_url": "https://api.github.com/repos/{owner}/{repo}",<br>
  &nbsp &nbsp &nbsp"repository_search_url": "https://api.github.com/search/repositories?q={query}{&page,per_page,sort,order}",<br>
  &nbsp &nbsp &nbsp"current_user_repositories_url": "https://api.github.com/user/repos{?type,page,per_page,sort}",<br>
  &nbsp &nbsp &nbsp"starred_url": "https://api.github.com/user/starred{/owner}{/repo}",<br>
  &nbsp &nbsp &nbsp"starred_gists_url": "https://api.github.com/gists/starred",<br>
  &nbsp &nbsp &nbsp"user_url": "https://api.github.com/users/{user}",<br>
  &nbsp &nbsp &nbsp"user_organizations_url": "https://api.github.com/user/orgs",<br>
  &nbsp &nbsp &nbsp"user_repositories_url": "https://api.github.com/users/{user}/repos{?type,page,per_page,sort}",<br>
  &nbsp &nbsp &nbsp"user_search_url": "https://api.github.com/search/users?q={query}{&page,per_page,sort,order}"<br>
}<br>
</body>
</html>