<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>矿小助</title>
</head>
<body>
{<br>
  &nbsp &nbsp &nbsp"FeedBacks": "https://api.kxz.atcumt.com/admin/feedback", <br>
  &nbsp &nbsp &nbsp"FeedBack": "https://api.kxz.atcumt.com/admin/feedback/<"int:id>",<br>
  &nbsp &nbsp &nbsp"Amount": "https://api.kxz.atcumt.com/admin/amount", <br>
  &nbsp &nbsp &nbsp"UserId": "https://api.kxz.atcumt.com/admin/user_id",<br>
  &nbsp &nbsp &nbsp"RootResource": "https://api.kxz.atcumt.com/admin/permission", <br>
  &nbsp &nbsp &nbsp"UserNumber": "https://api.kxz.atcumt.com/admin/user_number",<br>
  &nbsp &nbsp &nbsp"PageFeedBacks": "https://api.kxz.atcumt.com/admin/page_feedback", <br>
  &nbsp &nbsp &nbsp"PageAmount": "https://api.kxz.atcumt.com/admin/page_amount",<br>
  &nbsp &nbsp &nbsp"VersionResource": "https://api.kxz.atcumt.com/admin/version", <br>
  &nbsp &nbsp &nbsp"TestResource": "https://api.kxz.atcumt.com/card/charge",<br>
  &nbsp &nbsp &nbsp"chargeBalance": "https://api.kxz.atcumt.com/card/historyBalance", <br>
  &nbsp &nbsp &nbsp"DianFei": "https://api.kxz.atcumt.com/daily/df",<br>
  &nbsp &nbsp &nbsp"HomeImage": "https://api.kxz.atcumt.com/daily/home_image", <br>
  &nbsp &nbsp &nbsp"SdNews": "https://api.kxz.atcumt.com/daily/sd_news",<br>
  &nbsp &nbsp &nbsp"SdNew": "https://api.kxz.atcumt.com/daily/sd_new", <br>
  &nbsp &nbsp &nbsp"RwNews": "https://api.kxz.atcumt.com/daily/rw_news",<br>
  &nbsp &nbsp &nbsp"XsNews": "https://api.kxz.atcumt.com/daily/xs_news", <br>
  &nbsp &nbsp &nbsp"XsNew": "https://api.kxz.atcumt.com/daily/xs_new",<br>
  &nbsp &nbsp &nbsp"KB": "https://api.kxz.atcumt.com/jwxt/kb", <br>
  &nbsp &nbsp &nbsp"Exams": "https://api.kxz.atcumt.com/jwxt/exam",<br>
  &nbsp &nbsp &nbsp"Grades": "https://api.kxz.atcumt.com/jwxt/grade", <br>
  &nbsp &nbsp &nbsp"SingleJd": "https://api.kxz.atcumt.com/jwxt/alljd",<br>
  &nbsp &nbsp &nbsp"AverageJd": "https://api.kxz.atcumt.com/jwxt/avejd", <br>
  &nbsp &nbsp &nbsp"EmptyRoom": "https://api.kxz.atcumt.com/jwxt/classroom",<br>
  &nbsp &nbsp &nbsp"SpecialCourse": "https://api.kxz.atcumt.com/jwxt/course", <br>
  &nbsp &nbsp &nbsp"MakeUpGrades": "https://api.kxz.atcumt.com/jwxt/grades",<br>
  &nbsp &nbsp &nbsp"Library": "https://api.kxz.atcumt.com/lib/book", <br>
  &nbsp &nbsp &nbsp"OnShelf": "https://api.kxz.atcumt.com/lib/status",<br>
  &nbsp &nbsp &nbsp"BookImage": "https://api.kxz.atcumt.com/lib/image", <br>
  &nbsp &nbsp &nbsp"libraryList": "https://api.kxz.atcumt.com/lib/libraryList",<br>
  &nbsp &nbsp &nbsp"libraryHistoryList": "https://api.kxz.atcumt.com/lib/libraryHistoryList", <br>
  &nbsp &nbsp &nbsp"libraryFavorite": "https://api.kxz.atcumt.com/lib/libraryFavorite",<br>
  &nbsp &nbsp &nbsp"newLogin": "https://api.kxz.atcumt.com/new/login",<br>
  &nbsp &nbsp &nbsp"simpleBalance": "https://api.kxz.atcumt.com/new/simpleBalance", <br>
  &nbsp &nbsp &nbsp"simpleLibrary": "https://api.kxz.atcumt.com/new/simpleLibrary",<br>
  &nbsp &nbsp &nbsp"simpleBalanceHistory": "https://api.kxz.atcumt.com/new/simpleHistory",<br>
  &nbsp &nbsp &nbsp"ThirdPartyLogin": "https://api.kxz.atcumt.com/third/login", <br>

}<br>
</body>
</html>